@font-face {
    font-family: Voyage;
    src: url('../assets/Voyage-Regular.otf');
  }

@font-face {
  font-family: Austin;
  src: url('../assets/Austin-Medium.woff');
}
@font-face {
  font-family: Circular;
  src: url('../assets/circularstd-book.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');